@use '../utilities' as *;

.big-title {
  margin-top: 50px;
  margin-left: 20px;
  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  @include sans-text(40px, bold, 40px);
}

@-webkit-keyframes changeColor {
  0% {
    color: #ee6055;
  }

  25% {
    color: #60d394;
  }

  50% {
    color: #aaf683;
  }

  75% {
    color: #ffd97d;
  }

  100% {
    color: #ff9b85;
  }
}

.leaderboard {
  display: grid;
  gap: 3rem;
  /* stylelint-disable */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  /* stylelint-enable */
  padding: 10% 20%;

  &-scores {
    width: 100%;

    .title {
      @include flex(row, center, space-between);

      margin-bottom: 20px;

      h2 {
        @include sans-text(30px, bold, 30px);

        color: white;
      }

      button {
        background-color: white;

        @include sans-text(12px, 600, 22px);

        padding: 5px;
        cursor: pointer;
      }
    }

    ul {
      width: 100%;
      padding: 5px;

      li {
        @include sans-text(14px, 600, 35px);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
      }
    }
  }

  &-form {
    width: 100%;

    h3 {
      @include sans-text(25px, bold, 30px);

      color: white;
      margin-bottom: 20px;
      margin-top: 6px;
    }

    form {
      fieldset {
        border: none;
        display: flex;
        flex-direction: column;

        input {
          @include sans-text(11px, bold, 25px);

          margin-bottom: 30px;
        }

        .submit {
          background-color: white;
          max-width: 150px;
          padding: 5px;
          align-self: flex-end;
          cursor: pointer;
        }
      }
    }
  }
}
