@use '../utilities' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: black;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.border {
  animation-name: borderChange;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}


@-webkit-keyframes borderChange {  
  0% {
		@include border(#ee6055);
	}
	25% {
    @include border(#60d394);
	}
	50% {
    @include border(#aaf683);
	}
	75% {
    @include border(#ffd97d);
	}
	100% {
    @include border(#ff9b85);
	}
}



.completed {
  text-decoration: line-through;
  color: #bbb;
}

.gray-bg {
  background-color: rgba(0, 0, 0, 0.096);

}

.white-bg {
  background-color: rgb(19, 168, 236);
}
