*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.border {
  border: 3px solid black;
  -webkit-box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 0 -1px rgba(0, 0, 0, 0.75);
}

.completed {
  text-decoration: line-through;
  color: #bbb;
}